*{
    margin: 0;
    border: 0;
    top: 0;
    left: 0;
}

body{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#canvas1 {
    background: #eee;
    position: absolute;
}


.controls {
    position: absolute;
    z-index: 100;
    top: 0;
}

img {
    display: none;
}

.controls {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
}

button {
    padding: 14px;
    font-size: 30px;
    margin: 24px;
    font-family: "Anta", sans-serif;
    font-weight: 600;
    border-radius: 120px;
    color: white;
    background: black;
    transition: 0.2s;
}

button:hover {
    padding: 16px;
    margin: 22px;
    color: black;
    background: rgba(0, 0, 0, 0.459);
}

button:active {
    padding: 11px;
    margin: 27px;
    color: #37f0d7;
    background: rgba(255, 255, 255, 0);
}